@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12 bg-gray-400 bg-opacity-95">
  <div class="relative py-3 max-w-screen mx-auto">
    <div class="object-center ">
      <div class="grid min-h-screen place-items-center">
        <div class="w-11/12 p-12 bg-gray-600 sm:w-8/12 md:w-1/2 lg:w-8/12 rounded-md transform hover:translate-x-2 hover:shadow-2xl">
          <h1 class="py-3 text-3xl font-bold pb-3 text-center text-blue-300 bg-gray-800">Add Machine
            <hr>
          </h1>
          <h1 class="text-xl font-semibold">Adding an Engineer is easy. <i class="text-yellow-300 bx bxs-bulb"></i> <br>
            <br> <span class="font-normal text-blue-300">Please fill out the information below in order to add a
              machine to the database.</span> <i class='bx bxs-pointer'></i>
          </h1>
          <form class="mt-6" action="/Machines/create/" method="post">
            <div class="flex justify-between gap-3">
              <span class="w-1/2">
                <label for="MachineName" class="block text-xs font-semibold text-blue-300 uppercase">Machine
                  Identifier</label>
                <input id="MachineName" type="text" name="MachineName" placeholder="Abacus" autocomplete="given-name"
                  class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                  required />
              </span>
            </div>
            <label for="Operational"
              class="block mt-2 text-xs font-semibold text-blue-300 uppercase">Operational</label>
            <input id="Operational" class="object-left" type="checkbox" name="Operational" value="true"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 focus:outline-none focus:bg-gray-300 focus:shadow-inner" />
             <input name="Operational" type="hidden" value="false" />
            <label for="Malfunctioning"
              class="block py-3 mt-2 text-xs font-semibold text-blue-300 uppercase">Malfunctioning</label>
            <input id="Malfunctioning" class="object-left" type="checkbox" name="Malfunctioning" value="true"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 focus:outline-none focus:bg-gray-300 focus:shadow-inner" />
            <input name="Malfunctioning" type="hidden" value="false" />

            <label for="Repaired" class="block mt-2 text-xs font-semibold text-blue-300 uppercase">Repaired</label>
            <input type="checkbox" id="Repaired" class="object-left" value="true"
              class="block object-left w-full p-3 mt-2 bg-gray-200 focus:outline-none focus:bg-gray-300 focus:shadow-inner" />
            <input name="Repaired" type="hidden" value="false" />
            <input type="submit"
              class="w-full py-3 mt-6 font-medium tracking-widest text-blue-300 uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
            </input>
          </form>
        </div>
      </div>