<div class="min-h-screen flex flex-row bg-gray-600 absolute transform hover:scale-x-110">
  <div class="flex flex-col w-56 bg-gray-600 rounded-r-3xl overflow-hidden">
    <div class="flex items-center justify-center h-20 shadow-md">
      <h1 class="text-3xl uppercase text-red-300 animate-pulse"> > Fmanager</h1>
    </div>
    <ul class="flex flex-col py-4">
      <li>
        <a href="/" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-3xl text-red-400"><i class="bx bx-home"></i></span>
          <span class="text-lg font-medium text-white">Home</span>
        </a>
      </li>
      <li>
        <a href="/Engineers/" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-3xl text-green-300"><i class="bx bx-male"></i></span>
          <span class="text-lg font-medium text-white">Engineers</span>
        </a>
      </li>
      <li>
        <a href="/Machines/" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-3xl text-purple-400"><i class="bx bxs-factory"></i></span>
          <span class="text-lg font-medium text-white">Machines</span>
        </a>
      </li>
      <li>
        <a href="/Engineers/Create" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-3xl text-blue-300"><i class="bx bx-user-plus"></i></span>
          <span class="text-lg font-medium text-white">New Engineer</span>
        </a>
      </li>
      <li>
        <a href="/Machines/Create" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-3xl text-blue-300"><i class="bx bxs-bulb"></i></span>
          <span class="text-lg font-medium text-white">New Machine</span>
        </a>
      </li>
      <li>
    </ul>
  </div>
</div>