@{
  Layout = "_Layout";
}



<section >
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-blue-500 font-mono">
        <h1>Hello, World! Welcome to the Factory Manager.</h1>
        <h2 class="bg-"> > I'm a cool application designed to allow management to better control Engineer-Machine
          assignments and workflow </h2>
        <p class="leading-relaxed mb-8 font-normal text-blue-500">
          Click below to get started adding Engineers & Machines to your database
        </p>
         <p class="animate-bounce">@Html.ActionLink("See all machines", "Index", "Machines")</p>
         <p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p>
        </div>
    </div>
  </div>
</section>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p>