@{
  Layout = "_Layout";
}

<section >
<script>$( document ).ready() {}
$("#window").hide(3000);
}); </script>
  <div class="container mx-80 flex px-5 py-24 items-center justify-center flex-col bg-gray-600 text-white transform hover:shadow-2xl rounded-md">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-blue-500 font-mono">
        <h1 id="window">Welcome to the <span class="text-blue-300">Factory Manager</span></h1>
        <h2 class="py-3" <span class="text-blue-400"><i class='bx bxs-chevron-right'></i></span> I'm a <span class="text-blue-300">cool application</span> designed to access Engineer-Machine
          assignments and workflow </h2>
        <p class="leading-relaxed mb-8 text-xl text-gray-300 py-4">
          <i class='bx bxs-chevrons-down' ></i> Click below to get started adding Engineers & Machines to the database <i class='bx bxs-chevrons-down' ></i>
        </p>
        <div class="text-red-300">
         <p class="transform hover:scale-125 group-hover:text-green-300"><i class='bx bxs-right-arrow-alt text-blue-300'></i> @Html.ActionLink("See all machines  ", "Index", "Machines")<i class="text-purple-400 bx bxs-factory"></i></p>
         <p class="transform hover:scale-125"><i class='bx bxs-right-arrow-alt text-green-300'></i> @Html.ActionLink("See all engineers ", "Index", "Engineers")<i class="text-green-400 bx bx-male"></i> </p>
       </div>
        </div>
    </div>
  </div>
</section>