@{
  Layout = "_Layout";
}
<h1>Hello, World! Welcome to the Factory Manager.</h1>
<h2> > I'm a cool application designed to allow management to better control Engineer-Machine assignments and workflow </h2>

<p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p>